params {
    fast5 = "fast5_files/"
    fastq = "reads.fastq"
    bam = "reads.sorted.bam"
    ref = "humangenome.fa"
}

profiles {
    test {
        params {
            fast5 = "chr22_meth_example/fast5_files/"
            fastq = "chr22_meth_example/reads.fastq"
            bam   = "chr22_meth_example/reads.sorted.bam"
            ref   = "chr22_meth_example/humangenome.fa"
        }
        docker.enabled = true
    }
}

profiles {
    docker {
        process.container = 'hurdle-nanomethvar:latest'
        docker.enabled = true
    }
}
process {
    container = 'nfcore/nanoseq:latest'

    withName: 'VARIANT_CALLING' {
        conda = 'bioconda::longshot=0.4.3'
    }
}
docker.enabled = true