params {
    fast5 = "fast5_files/"
    fastq = "reads.fastq"
    bam = "reads.sorted.bam"
    ref = "humangenome.fa"
}

process {
    withName: 'QC' { container = 'hurdle-nanomethvar:latest' }
    withName: 'VARIANT_CALLING' { container = 'hurdle-nanomethvar:latest' }
    withName: 'INDEX_FAST5' { container = 'hurdle-nanomethvar:latest' }
    withName: 'CALL_METHYLATION' { container = 'hurdle-nanomethvar:latest' }
    withName: 'METH_FREQ' { container = 'hurdle-nanomethvar:latest' }
    withName: 'EVENTALIGN' { container = 'hurdle-nanomethvar:latest' }
    withName: 'REPORT' { container = 'hurdle-nanomethvar:latest' }
}
